div {
    margin: 0;
    padding: 0;
}
.loading {
    position: relative;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid  #C0C0C0;
    border-radius: 50%;
}
.circle {
    width: 10px;
    height: 10px;
    background: #C0C0C0;
    border-radius: 50%;
    position: relative;
    left: 19px;
    top: -6px;
    transform-origin: 5px 31px;
    -ms-transform-origin: 5px 31px;
    -webkit-transform-origin: 5px 31px;
    -moz-transform-origin: 5px 31px;
    -o-transform-origin: 5px 31px;
    animation: loading 1s ease-in-out infinite;
    -moz-animation: loading 1s ease-in-out infinite;
    -o-animation: loading 1s ease-in-out infinite;
    -webkit-animation: loading 1s ease-in-out infinite;
}
@-webkit-keyframes 'loading' {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-ms-keyframes 'loading' {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes 'loading' {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}


@-o-keyframes 'loading' {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

